body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.event-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
}

.event-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-details {
    padding: 15px;
    position: relative;
}

.event-details h3 {
    margin: 0 0 10px;
}

.event-details p {
    margin: 0 0 5px;
    color: #666;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section select, #search-input {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    max-width: 200px;
}

.search-bar2 {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-bar2 button {
    padding: 10px;
}


.calendar {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
}

.calendar h2 {
    margin-bottom: 20px;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.event-day {
    background-color: #e0f7fa;
    font-weight: bold;
}

.more-details {
    display: none;
    margin-top: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
}

.more-info {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.more-info:hover {
    background-color: #0056b3;
}



@media (max-width: 768px) {
    .event-card {
        flex: 1 1 calc(50% - 20px);
    }
    .search-bar2 {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .event-card {
        flex: 1 1 100%;
    }
    .filter-section {
        flex-direction: column;
        align-items: flex-start;
    }
}