
@font-face {
    font-family: 'huova';
    src: url('HuovaDemo-Light.otf');
}

@keyframes reveal {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

body {
    font-family: "Open-sans", sans-serif;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    animation: reveal 1s ease-in-out forwards;
    opacity: 0;
    transform: translateY(50px);
}
.navbar {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 30px;
    color: #262626;
    background-color: rgba(47, 143, 116, 0.532);
    margin-bottom: 2%;
}
.navbar a {
    color: #232323;
    text-decoration: none;
    padding: 9px 30px;
    margin-left: 10px;
}
.navbar a:hover {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 30px;
    padding: 10px 30px;
}
.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-item {
    position: relative;
    display: block;
}
.menu-item .dropdown {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.menu-item .dropdown a {
    display: block;
    border-radius: 0;
    color: #000000;
}
.menu-item .dropdown a:hover {
    background-color: #f0f0f0;
}
.menu-item:hover .dropdown {
    display: block;
}
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: rgba(224, 255, 246, 0.353);
    box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    overflow: hidden;
    max-width: 1400px;
    width: 65%;
    margin: auto;
    height: 70px;
    margin-bottom: -3%;
    margin-top: 4%;
}
.search-bar div {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    flex: 1;
    background-color: rgba(224, 255, 246, 0.353);
}
.search-bar div {

    border-right: 1px solid #e0e0e0;
}

.search-bar div span {
    color: #333;
    border: none;
    
}
.search-bar button {
    background-color: rgb(58, 58, 115);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    width: 20%;
    font-size: 16px;
    height: 90%;
}
.search-bar button:hover {
    background-color: #005f80;
}
.search-bar input {
    font-size: 17px;
    margin-right: 10px;
    height: 60px;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(224, 255, 246, 0.353);
    border: none; 
}
.search-bar input::placeholder {
    color: #333;
}

.search-bar input:hover {
    background-color: rgb(190, 190, 190);
}

.main-img-div {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    margin-left: 3%;
    color: #fff;
}
.slide1 {
    width: 90%;
    margin: auto;
    height: 48vh;
    border-radius: 30px;
    
}
.main-img {
    width: 94%;
    filter: brightness(0.6);
    border-radius: 30px;
    height: 100%;
}
.slide1 h2 {
    font-family: 'huova';
    top: 45%;
    left: 7%;
    position: absolute;
    font-size: 40px;
    z-index: 1;
    color: #fff;
    margin-left: 6%;

}
.main-img-div p {
    top: 64%;
    font-size: 16px;
    position: absolute;
    color: #fff;
    margin-left: 7%;
    left: 8%;
}

.section {
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    color: #333;
    border-radius: 10px;
}
.travel-hack {
    display: flex;
    margin: 300px 80px 0 80px;
    justify-content: space-around;
}
.travel-hack-info {
    align-self: center;
    width: 50%;
    color: #333;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.5;
}
.sustainable {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.5;
    display: flex;
    justify-content: space-around;
    padding-bottom: 200px;
    margin: 100px 80px 100px 80px;
    align-items: center;
    color: #333;
    font-size: 17px;
    height: 320px;
}
.sustainable2-text {
    width: 49%;
    margin-left: 5%;
}
.sustainable img {
    width: 50%;
}

.sustainable2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.5;
    display: flex;
    justify-content: space-around;
    padding-bottom: 200px;
    margin: 100px 80px 100px 80px;
    align-items: center;
    color: #333;
    font-size: 17px;
    height: 320px;
}
.sustainable h, .sustainable p {
    width: 90%;  
}
.sustainable img {
    margin-right:10% ;
}

.sustainable2 h, .sustainable2 p {
    width: 90%;  
}
.sustainable2 img {
    margin-right:10% ;
    width: 37%;
    height: 100%;
    margin-left: 18%;
}
.spotlight {
    margin: 0 auto;
    width: 95%;
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-around;
}

.spotlights p {
    font-size: 14px;
}
.spotlights {
    display: flex;
    margin-top: 60px;
    color: #333;
    justify-content: space-around;
    margin: auto;
}
.spotlight-deals, .spotlight-guide, .spotlight-climate {
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 450px;
    border-radius: 17px;
    box-shadow: 1px 2px 21px -9px rgba(190, 182, 182, 0.75);
    -webkit-box-shadow: 1px 2px 21px -9px rgba(163, 153, 153, 0.75);
    -moz-box-shadow: 1px 2px 21px -9px rgba(68,59,59,0.75);
    line-height: 1.5;
    background-color: rgba(224, 255, 246, 0.353);
}

.spotlight-deals:hover, .spotlight-guide:hover, .spotlight-climate:hover {
    transform: translateY(-10px);
    transition: 300ms ease-in-out;
    cursor: pointer;
}


.spotlight-deals img, .spotlight-climate img, .spotlight-guide img {
    border-radius: 17px 17px 0 0;
    height: 50%;
}
.spotlight-deals p, .spotlight-climate p, .spotlight-guide p {
    color: rgb(78, 78, 88);
    font-size: 14px;
    align-self: center;
    width: 95%;
}
.spotlight-deals h3, .spotlight-climate h3, .spotlight-guide h3 {
    align-self: center;
    width: 95%;
}
.spotlight-travel-info {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 400px;
    align-items: center;
    color: #333;
    background-color: rgba(224, 255, 246, 0.353);

}
.sti {
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 25%;
    text-align: center;
    margin-bottom: 40px;

}
.sti p {
    align-self: center;
    margin-right: 10%;
}

.sti img {
}
.divs {
    display: flex;
    margin: 5%;
}
.top-destinations {
    box-shadow: 1px 2px 21px -9px rgba(190, 182, 182, 0.75);
    -webkit-box-shadow: 1px 2px 21px -9px rgba(163, 153, 153, 0.75);
    -moz-box-shadow: 1px 2px 21px -9px rgba(68,59,59,0.75);
    width: 28%;
    margin: auto;
}
.top-operators {
    box-shadow: 1px 2px 21px -9px rgba(190, 182, 182, 0.75);
    -webkit-box-shadow: 1px 2px 21px -9px rgba(163, 153, 153, 0.75);
    -moz-box-shadow: 1px 2px 21px -9px rgba(68,59,59,0.75);
    width: 28%;
    margin: auto;
}
.top-styles {
    box-shadow: 1px 2px 21px -9px rgba(190, 182, 182, 0.75);
    -webkit-box-shadow: 1px 2px 21px -9px rgba(163, 153, 153, 0.75);
    -moz-box-shadow: 1px 2px 21px -9px rgba(68,59,59,0.75);
    width: 28%;
    margin: auto;
}
.last {
    background-color: #b2b2b2;
    height: 200px;
}
 
.heading{
    text-align: center;
    padding: 2.5rem;
}
.heading span{
    font-size: 3.5rem;
    background:white;
    color: #787878;
    padding: 2rem 1rem;
    font-family: Arial, sans-serif;
}
.book .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;

}
.book .row .image{
    flex: 1 1 40rem;

}
.book .row .image img{
    width: 100%;
}
.book .row  .form{
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;

}
.book .row  .form .inputBox{
    padding: .5rem 0;
}
.book .row  .form .inputBox input{
    width: 100%;
    padding: 1rem;
    border: .1rem solid rgba(0, 0, 0, 0.1)
    font-size 1.7rem;
    color: #333;
    text-transform: none;
}
.book .row  .form .inputBox h3{
    font-size: 2rem;
    padding: 1rem;
    color: #666;
}
.error {
    color: red;
    font-size: 0.9em;
}
.hidden {
    display: none;
}
.selected {
    background-color: #d3d3d3;
}
.option {
    cursor: pointer;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
    
.login-logo {
    width:40px;
    height: 40px;
    margin-left: -15%; 
    margin-right: 5%;
}
.login-logo:hover {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.offers{
    width: 80%;   
    padding: 7rem 0;
    background-image: url('https://th.bing.com/th/id/R.e4e188f262a5ee8858a866e2e6e0197d?rik=vlxwUZTKOu6kRA&pid=ImgRaw&r=0');
}
.section-title h1, .section-title h2 {
    color: white;
}
 .card {
    width: 13.5%;
    height: 150px; 
    background-color: white;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 1.5rem;
    margin: 10px;
    margin-right: 50px;
    transition: background-image 0.3s;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    }

    .offer-cards{
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        margin-top: 2.5rem;
        justify-content: space-around;
    }

    .card:hover {
        background-image: url('adventures/face.jpg');
        color: white;
    }

    .card:nth-child(2):hover {
        background-image: url('adventures/calm.jpg');
        color: white;
    }

    .card:nth-child(3):hover {
        background-image: url('adventures/couple.jpg');
        color: white;
    }

    .card:nth-child(4):hover {
        background-image: url('adventures/yoga.jpg');
        color: white;
    }

    .card-title {
        text-align: center;
        
    }

    .card-items {
        margin-top: 20px;
        color: white;
    }

    .item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: .1em;
        
    }

    .check-icon {
        margin-right: 10px;
    }
    .offers {
        background-image: url('https://secure.s.forbestravelguide.com/img/properties/the-spa-at-the-joule/spa-at-the-joule-pool-and-loungers.jpg');
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover; 
        height: 100vh; 
        width: 100%;
        margin: 0;
        margin-bottom: 2rem;
        color: #333;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

.offers h1 {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    margin-top: -20px;
    
}
.offers h2 {
    text-align: center;
    font-weight: italic;
    font-size: 2rem;
    
}
.offers p {
    font-size: 17px;
    font-weight: bold;
}

.icon {
    width: 50%;
    background-color: rgb(232,244,244);
    align-self: center;

}
.newsletter {
    display: flex;
    justify-content: space-between;
    background-color: rgba(50,54,55,255);
    padding: 30px;
    align-items: center;
    color: white;
}
.newsletter h2, .newsletter p {
    padding-left: 30px;
}
.newsletter input {
    margin-top: 20px;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 4px 0 0 4px;
    
}
.newsletter input[type="submit"]
{
    background-color: rgb(58, 58, 115);
    height: 42px;
    border-radius: 0 4px 4px 0;
}



@media (max-width: 600px) {
    .section {
        height:auto;
    }
    .section p {
        font-size: 13px;
    }
    .search-bar {
        width: 80%;
        height: 10vh;
        margin-top: 10vh;
    }
    .search-bar button {
        padding: 1px 2px;
        border-radius: 30px;
        cursor: pointer;
        width: 30%;
        font-size: 16px;
        height: 90%;
    }
    .main-img-div h2 {
        font-size: 16px;
        top: 30%;
    }
    .main-img-div p {
        font-size: 12px;
        top: 50%;
    }
    .travel-hack {
        flex-direction: column;
        width: 95%;
        margin: auto;
        margin-top: 10vh;
    }
    .video {
        order: 0;
    }
    .travel-hack-info {
        width: 100%;
        order: 1;
    }
    .travel-hack-info h1 {
        font-size: 18px;
    }
    .sustainable {
        flex-direction: column;
        width: 95%;
        margin: auto;        
    }
    .sustainable h3, .sustainable p, .sustainable img {
        width: 100%;
    }
    .sustainable2 {
        flex-direction: column;
        width: 95%;
        margin: 20vh auto;
    }

    .sustainable2 img {
        order: 0;
        width: 100%;
    }
    .sustainable2-text {
        order: 1;
        width: 100%;
        font-size: 13px;
    }
    .spotlight {
        flex-direction: column;
        width: 95%;
    }
    .spotlight h2, .spotlight p {
        width: 100%;
    }
    .spotlight h2 {
        font-size: 20px;
    }

    .spotlights {
        flex-direction: column;
    }
    .spotlight-deals, .spotlight-climate, .spotlight-guide {
        width: 100%;
    }

    .destination2, .itinerary {
        align-self: center;
        margin: auto;
    }
    .sections-container {
        width: 100%;
        margin: auto;
        align-items: center;
    }
    .river-cruises {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    .itinerary p, .itinerary h3 {
        margin: auto;
        width: 100%;
        
    }
    .promotion {
        width: 100%;
    }
    .section-title h1 {
        font-size: 32px;
    }
    .section-title h2 {
        font-size: 22px;
    }
    .offers {
        height: 180vh;
    }
    .offer-cards {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .card-items {
        display: none;
    }
    .card {
        margin: auto;
        width: 80%;
        opacity: 0.7;
        margin-bottom: 10vh;
    }
    .card:hover {
        opacity: 1;
    }
    .card:first-child {
        background-image: url('face.jpg');
        color: white;
    
    }

    .card:nth-child(2) {
        background-image: url('calm.jpg');
        color: white;
    }

    .card:nth-child(3) {
        background-image: url('couple.jpg');
        color: white;
    }

    .card:nth-child(4) {
        background-image: url('yoga.jpg');
        color: white;
    }
    .newsletter {
        font-size: 15px;
        display: block;
    }
    .subscribe {
        width: 85%;
        margin: auto;
    }
    .menu {
        flex-direction: column;
        width: 100%;
        background-color: #000000;
        display: none;
        z-index: 999;
        color: #ffffff;
    }
    .menu-active {
        display: flex;
        transition: 0.3s ease-in-out;
    }
    .mini-img {
        display: none;
    }
    .divs {
        flex-direction: column;
        width: 95%;
    }
    .top-destinations, .top-operators, .top-styles {
        width: 100%;
    }
    .last {
        width: 100%;
    }

}
