
.river-cruises {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(188, 210, 204, 0.134);
    box-shadow: 0 0 15px rgba(160, 30, 30, 0.2);
    border-radius: 10px;
}

/* Heading Styles */
.river-cruises h1 {
    text-align: center;
    color: #a2d3f6;
    margin-bottom: 40px;
    font-size: 36px;
    text-transform: uppercase;
}

.river-section h2 {
    color: #333;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
}

.destination2 h3,
.itinerary h3,
.ship h3,
.promotion h3 {
    color: #333;
    font-size: 24px;
}

/* Sections Container */
.sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    line-height: 1.5;
}

.river-section {
    flex: 1;
    min-width: 300px;
    margin-bottom: 40px;
}

/* Cruise Ships */
#cruise-ships {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Content Styles */
.destination2,
.itinerary,
.ship,
.promotion {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

#destinations, #itineraries {
    border-radius: 6px;
    border: 1px solid #a2d3f6;
    margin: 10px;
}

.destination2,
.itinerary {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    gap: 10px;
    margin: auto;
}
#destinations h2, #itineraries h2, .destination2 h3, .itinerary h3 {
    color: #a2d3f6;
}


/* Ship Styles */
.ship img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

/* Promotions Section */
.promotion {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 35px;
    background-color: rgba(220, 240, 234, 0.215);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.promotion img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.promotion h3 {
    margin: 0;
    font-size: 20px;
    color: #0077cc;
    transition: color 0.3s ease;
}

.promotion p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

.promotion:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.promotion:hover img {
    transform: scale(1.1);
}

.promotion:hover h3 {
    color: #005fa3;
}

.promotion:hover p {
    color: #333;
}